.particles-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none !important;
    z-index: 99999999;
  }
  
  .particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none !important;
    background-color: red;
    z-index: 99999999;
  }
  